body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-image: URL("data/0.jpg");
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
   background-image: URL("dataaa/1.jpg");
}

.x4 {
    background-image: URL("dataaa/2.jpg");
}

.x8 {
    background-image: URL("dataaa/3.jpg");
}

.x16{
    background-image: URL("dataa/4.jpg");
}

.x32{
    background-image: URL("dataa/5.jpg");
}

.x64{
    background-image: URL("data/6.jpg");
}

.x128{
    background-image: URL("data/7.jpg");
}

.x256{
    background-image: URL("data/8.jpg");
}

.x512{
    background-image: URL("data/9.jpg");
}

.x1024{
    background-image: URL("data/10.jpg");
}

.x2048{
    background-image: URL("data/11.jpg");
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}
